body {
  font-family: 'Poppins', sans-serif;
}

.gradient-background {
  background-image: -moz-linear-gradient(0deg, #203556 0%, #0042ad 100%);
  background-image: -webkit-linear-gradient(0deg, #203556 0%, #0042ad 100%);
  background-image: -ms-linear-gradient(0deg, #203556 0%, #0042ad 100%); 
}

.dark-background {
  background-color: #23242b;
}

#row {
  margin-top: 0px;
  margin-bottom: 0px;
}

#top-bar {
  min-height: 120px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#top-bar-links {
  padding-top: 25px;
  color: white;
}

.top-link {
  color: white;
}

.top-link:hover {
  color: white;
  font-weight: bold;
}

.top-logo img {
  height: 100%;
  min-height: 100px;
}

section {
  min-height: 300px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 10px;
}

.section-alternate {
  color: white;
}

.hero {
  min-height: 400px;
  font-weight: bold;
}

#hero-bg-treelight {
  background-image: url('/img/office.jpg');
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.sub-nav {
  padding-top: 5px;
  padding-bottom: 5px;
}

.sub-nav-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-right: 35px;
  white-space: nowrap;
}

.sub-nav-link:hover {
  color: white;
  font-weight: bold;
}

.feature-section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.leadership-card {
  color: black;
  height: 350px;
}

.leadership-image {
  text-align: center;
}

.product-row {
  margin-bottom: 20px;
}

.product-row h3 {
  text-align: left;
}

.product-image img {
  width: 100%;
}

.product-title {
  text-align: left;
  color: black;
}

.product-description {
  text-align: left;
}

.contact-card {
  text-align: left;
}

.contact-card label {
  margin-top: 10px;
  color: black;
  text-align: left;
}

#contact_error {
  text-align: center;
  display: none;
}

.footer {
  background-color: #23242b;
  min-height: 200px;
  color: white;
  padding-top: 40px;
}

.footer-logo {
  width: 100%;
}

.footer-link {
  text-decoration: none;
  color: white;
}